
body, html {

height:100%;
padding:0;
margin:0;
}

body{
  font-family: 'Poppins', 'Hind', sans-serif;

}
header{
  height: 50px;
  background-color: #74b624;
}
header div{
  color: white;
  font-size: 20px;
  padding-top: 12px;
  padding-left: 3%;
}
.barChart{
  display: inline-block;
  margin-left: 2%;
}

.footnote{
  display: inline-block;
  width: 32%;
  padding-right: 8%;
  vertical-align: top;
  padding-top: 120px;
}

.bottom{
  display: block;
  height: 100px;
  background-color: #398b97;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.bottom span{
  float: right;
}

/************************************
       media queries
 ***********************************/
@media (max-width: 1200px){
  .barChart{
    display: block;
    margin: 0px auto;
    width: 70%;
  }
  .footnote{
    display: block;
    margin: 0px auto;
    width: 60%;
    padding-top: 20px;
  }
}